{% extends "base.html" %}
{% block title %}new password{% endblock %}
{% block footer %}
<script src="/js/show-hide-pass-min.js"></script>
<script src="/js/app.js"></script>
<script>
        $(document).ready(function() {
            /**
             * Validate the form
             */
            $('#formReset').validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                }
            });

            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            })
        });       

</script>
{% endblock %}
{% block body %}
<h1>new password</h1>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" id="formReset" action="/password/resetPassword">
    <input type="hidden" name="token" value="{{ token }}" />
    <div>
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="password" placeholder="Password" required />

    </div>
    <button type="submit">Reset Password</button>
</form>

{% endblock %}